.wrapp_navipaion
	.container
		+nav('navigation', ['Планшеты', 'Мобильные телефоны', 'Мр3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника'], 1)
.list_page
	.container
		ul.list_page
			li.list_page__item
				a(href="#").list_page__link Главная
			li.list_page__item.list_page__item_chars &rsaquo;
			li.list_page__item.list_page__item_active
				a(href="#").list_page__link Каталог 