.wrapp_variable
	ul.phone_list
		li.phone__item.phone__item_horiz.phone__item_horizon2.clearfix
			.phone-img
				.phone-img
					a(href="#").phone__link.phone__link_horizon2
						img(src="img/sumsung.png" alt="sumsung").phone__img
					ul.slid_show_list
						li.slid_show__item
							a(href="#").slid_show__link
								img(src="img/sumsung-fr.png", alt="sumsung-fr")
						li.slid_show__item
							a(href="#").slid_show__link
								img(src="img/sumsung-sd.png", alt="sumsung-sd")
						li.slid_show__item
							a(href="#").slid_show__link
								img(src="img/sumsung-bk.png", alt="sumsung-bk")
			.phone-decription
				p.artukyl.artukyl_horizon2 Артикул
					span.art__number 189238
				h2.phone__name.phone__name_horiz.phone__name_horizon2
					span.horizon2__span Смартфон
					|Samsung GT-I9301I GALAXY S 3
				p.phone__dec_horizon2 Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц... 
				table.table__descr
					tr.table__descr-tr
						td.table__descr-td Тип SIM-карты
						td.table__descr-td Micro-SIM
					tr.table__descr-tr
						td.table__descr-td Количество SIM-карт 
						td.table__descr-td 1
					tr.table__descr-tr
						td.table__descr-td Цвет
						td.table__descr-td Белый
					tr.table__descr-tr
						td.table__descr-td ОC
						td.table__descr-td Android
					tr.table__descr-tr
						td.table__descr-td Связь 3G
						td.table__descr-td Есть
					tr.table__descr-tr
						td.table__descr-td 4G (LTE)
						td.table__descr-td Нет
					tr.table__descr-tr
						td.table__descr-td GPS-модуль
						td.table__descr-td Есть
				.rating
					ul.stars.stars__horizon2
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item
						li.stars__descr 4
			.phone-order
				h3.phone__price.phone__price_horiz.phone__price_horizon2 11 290 &#8381;
				p.buy__phone.buy__phone_horiz.buy__phone_horizon2 В наличии
				a(href="#").buy__link.buy__link_horiz.buy__link_horizon2 В корзину
		li.phone__item.phone__item_horiz.phone__item_horizon2.clearfix
			.phone-img
				a(href="#").phone__link.phone__link_horizon2
					img(src="img/lumia.png" alt="lumia").phone__img
				ul.slid_show_list
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/lumia-fr.png", alt="lumia-fr")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/lumia-sd.png", alt="lumia-sd")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/lumia-bk.png", alt="sumsung-bk")
			.phone-decription
				p.artukyl.artukyl_horizon2 Артикул
					span.art__number 189238
				h2.phone__name.phone__name_horiz.phone__name_horizon2
					span.horizon2__span Смартфон
					|Microsoft Lumia 640 RM-1077
				p.phone__dec_horizon2 Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) вы открываете мир ярких цифровых возможностей. Этот многофункциональный смартфон уже содержит набор бесплатных сервисов Microsoft... 
				table.table__descr
					tr.table__descr-tr
						td.table__descr-td Тип SIM-карты
						td.table__descr-td Micro-SIM
					tr.table__descr-tr
						td.table__descr-td Количество SIM-карт 
						td.table__descr-td 2
					tr.table__descr-tr
						td.table__descr-td Цвет
						td.table__descr-td Белый
					tr.table__descr-tr
						td.table__descr-td ОC
						td.table__descr-td Android
					tr.table__descr-tr
						td.table__descr-td Связь 3G
						td.table__descr-td Есть
					tr.table__descr-tr
						td.table__descr-td 4G (LTE)
						td.table__descr-td Нет
					tr.table__descr-tr
						td.table__descr-td GPS-модуль
						td.table__descr-td A-GPS
				.rating
					ul.stars.stars__horizon2
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item
						li.stars__descr 4
			.phone-order
				h3.phone__price.phone__price_horiz.phone__price_horizon2 10 990 &#8381;
				p.buy__phone.buy__phone_horiz.buy__phone_horizon2 В наличии
				a(href="#").buy__link.buy__link_horiz.buy__link_horizon2 В корзину
		li.phone__item.phone__item_horiz.phone__item_horizon2.clearfix
			.phone-img
				a(href="#").phone__link.phone__link_horizon2
					img(src="img/arhos.png" alt="arhos").phone__img
				ul.slid_show_list
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/arhos-fr.png", alt="arhos-fr")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/arhos-sd.png", alt="arhos-sd")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/arhos-bk.png", alt="arhos-bk")
			.phone-decription
				p.artukyl.artukyl_horizon2 Артикул
					span.art__number 189238
				h2.phone__name.phone__name_horiz.phone__name_horizon2
					span.horizon2__span Смартфон
					|Archos 50 Oxygen Plus 
				p.phone__dec_horizon2 Смартфон Archos 50 Oxygen Plus, серый. Моноблок, Micro-SIM, Android , 3G, Bluetooth, USB-подключение к ПК, Wi-Fi, Разрешение основной камеры 8 Мп... 
				table.table__descr
					tr.table__descr-tr
						td.table__descr-td Тип SIM-карты
						td.table__descr-td Micro-SIM
					tr.table__descr-tr
						td.table__descr-td Количество SIM-карт 
						td.table__descr-td 2
					tr.table__descr-tr
						td.table__descr-td Цвет
						td.table__descr-td Серый
					tr.table__descr-tr
						td.table__descr-td ОC
						td.table__descr-td Android
					tr.table__descr-tr
						td.table__descr-td Связь 3G
						td.table__descr-td Есть
					tr.table__descr-tr
						td.table__descr-td 4G (LTE)
						td.table__descr-td Нет
					tr.table__descr-tr
						td.table__descr-td GPS-модуль
						td.table__descr-td Есть
				.rating
					ul.stars.stars__horizon2
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item
						li.stars__descr 4

			h3.phone__price.phone__price_horiz.phone__price_horizon2 9 900 &#8381;
			p.buy__phone.buy__phone_horiz.buy__phone_horizon2 В наличии
			a(href="#").buy__link.buy__link_horiz.buy__link_horizon2 В корзину
		li.phone__item.phone__item_horiz.phone__item_horizon2.clearfix
			.phone-img
				a(href="#").phone__link.phone__link_horizon2
					img(src="img/phillips.png" alt="phillips").phone__img
				ul.slid_show_list
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/phillips-fr.png", alt="phillips-fr")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/phillips-sd.png", alt="phillips-sd")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/phillips-bk.png", alt="phillips-bk")
			.phone-decription
				p.artukyl.artukyl_horizon2 Артикул
					span.art__number 189238
				h2.phone__name.phone__name_horiz.phone__name_horizon2
					span.horizon2__span Смартфон
					|Philips S398 Black
				p.phone__dec_horizon2 Смартфон Philips S398 Black. Черный корпус и разнообразие цветных панелей для Philips S398 как нельзя лучше подчеркнут ваш статус и уверенность в себе. Преимущества этой модели...
				table.table__descr
					tr.table__descr-tr
						td.table__descr-td &nbsp;
						td.table__descr-td &nbsp;
					tr.table__descr-tr
						td.table__descr-td Количество SIM-карт 
						td.table__descr-td 2
					tr.table__descr-tr
						td.table__descr-td &nbsp;
						td.table__descr-td &nbsp;
					tr.table__descr-tr
						td.table__descr-td ОC
						td.table__descr-td Android
					tr.table__descr-tr
						td.table__descr-td &nbsp;
						td.table__descr-td &nbsp;
					tr.table__descr-tr
						td.table__descr-td 4G (LTE)
						td.table__descr-td Нет
					tr.table__descr-tr
						td.table__descr-td &nbsp;
						td.table__descr-td &nbsp; 
				.rating
					ul.stars.stars__horizon2
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item
						li.stars__descr 4
			h3.phone__price.phone__price_horiz.phone__price_horizon2 8 990 &#8381;
			p.buy__phone.buy__phone_horiz.buy__phone_horizon2 В наличии
			a(href="#").buy__link.buy__link_horiz.buy__link_horizon2 В корзину
		li.phone__item.phone__item_horiz.phone__item_horizon2.clearfix
			.phone-img
				a(href="#").phone__link.phone__link_horizon2
					img(src="img/lumia1.png" alt="lumia1").phone__img
				ul.slid_show_list
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/lumia1-fr.png", alt="lumia1-fr")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/lumia1-sd.png", alt="lumia1-sd")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/lumia1-bk.png", alt="lumia1-bk")
			.phone-decription
				p.artukyl.artukyl_horizon2 Артикул
					span.art__number 189238
				h2.phone__name.phone__name_horiz.phone__name_horizon2
					span.horizon2__span Смартфон
					|Microsoft Lumia 430 RM-10
				p.phone__dec_horizon2 Смартфон Microsoft Lumia 430 RM-1099 black Куда бы вы ни направлялись, смартфон должен быть надежным спутником. Поэтому у Microsoft Lumia 430 Dual SIM (RM-1099) удобный компактный корпус ...
				table.table__descr
					tr.table__descr-tr
						td.table__descr-td Тип SIM-карты
						td.table__descr-td Micro-SIM
					tr.table__descr-tr
						td.table__descr-td Количество SIM-карт 
						td.table__descr-td 2
					tr.table__descr-tr
						td.table__descr-td Цвет
						td.table__descr-td Черный
					tr.table__descr-tr
						td.table__descr-td ОC
						td.table__descr-td Android
					tr.table__descr-tr
						td.table__descr-td Связь 3G
						td.table__descr-td Есть
					tr.table__descr-tr
						td.table__descr-td 4G (LTE)
						td.table__descr-td Нет
					tr.table__descr-tr
						td.table__descr-td GPS-модуль
						td.table__descr-td A-GPS
				.rating
					ul.stars.stars__horizon2
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item
						li.stars__descr 4
			h3.phone__price.phone__price_horiz.phone__price_horizon2 5 390 &#8381;
			p.buy__phone.buy__phone_horiz.buy__phone_horizon2 В наличии
			a(href="#").buy__link.buy__link_horiz.buy__link_horizon2 В корзину
		li.phone__item.phone__item_horiz.phone__item_horizon2.clearfix
			.phone-img
				a(href="#").phone__link.phone__link_horizon2
					img(src="img/senset.png" alt="senset").phone__img
				ul.slid_show_list
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/senset-fr.png", alt="senset-fr")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/senset-sd.png", alt="senset-sd")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/senset-bk.png", alt="senset-bk")
			.phone-decription
				p.artukyl.artukyl_horizon2 Артикул
					span.art__number 189238
				h2.phone__name.phone__name_horiz.phone__name_horizon2
					span.horizon2__span Смартфон
					|Senseit L301 Black
				p.phone__dec_horizon2 Смартфон Senseit L301 black, черный. Micro-SIM, две поддерживаемых SIM-карты, Android, 3G, GPS-модуль...
				table.table__descr
					tr.table__descr-tr
						td.table__descr-td Тип SIM-карты
						td.table__descr-td Micro-SIM
					tr.table__descr-tr
						td.table__descr-td Количество SIM-карт 
						td.table__descr-td 2
					tr.table__descr-tr
						td.table__descr-td Цвет
						td.table__descr-td Черный
					tr.table__descr-tr
						td.table__descr-td ОC
						td.table__descr-td Android
					tr.table__descr-tr
						td.table__descr-td Связь 3G
						td.table__descr-td Есть
					tr.table__descr-tr
						td.table__descr-td 4G (LTE)
						td.table__descr-td Нет
					tr.table__descr-tr
						td.table__descr-td GPS-модуль
						td.table__descr-td Есть
				.rating
					ul.stars.stars__horizon2
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item
						li.stars__descr 4
			h3.phone__price.phone__price_horiz.phone__price_horizon2 4 990 &#8381;
			p.buy__phone.buy__phone_horiz.buy__phone_horizon2 В наличии
			a(href="#").buy__link.buy__link_horiz.buy__link_horizon2 В корзину
		li.phone__item.phone__item_horiz.phone__item_horizon2.clearfix
			.phone-img
				a(href="#").phone__link.phone__link_horizon2
					img(src="img/high.png" alt="high").phone__img
				ul.slid_show_list
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/high-fr.png", alt="high-fr")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/high-sd.png", alt="high-sd")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/high-bk.png", alt="high-bk")
			.phone-decription
				p.artukyl.artukyl_horizon2 Артикул
					span.art__number 189238
				h2.phone__name.phone__name_horiz.phone__name_horizon2
					span.horizon2__span Смартфон
					|HIGHSCREEN WinWin Black
				p.phone__dec_horizon2 Смартфон HIGHSCREEN WinWin Black оснащен 4" дисплеем и двумя слотами для SIM-карт.  Windows Phone , 3G, Bluetooth, USB-подключение к ПК...
				table.table__descr
					tr.table__descr-tr
						td.table__descr-td Тип SIM-карты
						td.table__descr-td Micro-SIM
					tr.table__descr-tr
						td.table__descr-td Количество SIM-карт 
						td.table__descr-td 2
					tr.table__descr-tr
						td.table__descr-td Цвет
						td.table__descr-td Черный
					tr.table__descr-tr
						td.table__descr-td ОC
						td.table__descr-td Android
					tr.table__descr-tr
						td.table__descr-td Связь 3G
						td.table__descr-td Есть
					tr.table__descr-tr
						td.table__descr-td 4G (LTE)
						td.table__descr-td Нет
					tr.table__descr-tr
						td.table__descr-td GPS-модуль
						td.table__descr-td Есть
				.rating
					ul.stars.stars__horizon2
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item
						li.stars__descr 4
			h3.phone__price.phone__price_horiz.phone__price_horizon2 3 990 &#8381;
			p.buy__phone.buy__phone_horiz.buy__phone_horizon2 В наличии
			a(href="#").buy__link.buy__link_horiz.buy__link_horizon2 В корзину
		li.phone__item.phone__item_horiz.phone__item_horizon2.clearfix
			.phone-img
				a(href="#").phone__link.phone__link_horizon2
					img(src="img/alcatel.png" alt="alcatel").phone__img
				ul.slid_show_list
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/alcatel-fr.png", alt="alcatel-fr")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/alcatel-sd.png", alt="alcatel-sd")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/alcatel-bk.png", alt="alcatel-bk")
			.phone-decription
				p.artukyl.artukyl_horizon2 Артикул
					span.art__number 189238
				h2.phone__name.phone__name_horiz.phone__name_horizon2
					span.horizon2__span Смартфон
					|Alcatel OT4013D PIXI 3 (2 SIM)
				p.phone__dec_horizon2 Смартфон Смартфон Alcatel OT4013D PIXI 3 (2 SIM). Смартфон Alcatel One Touch 4013D оснащен четырехдюймовым дисплеем и двумя слотами для SIM-карт...
				table.table__descr
					tr.table__descr-tr
						td.table__descr-td Тип SIM-карты
						td.table__descr-td Micro-SIM
					tr.table__descr-tr
						td.table__descr-td Количество SIM-карт 
						td.table__descr-td 2
					tr.table__descr-tr
						td.table__descr-td Цвет
						td.table__descr-td Белый
					tr.table__descr-tr
						td.table__descr-td ОC
						td.table__descr-td Android
					tr.table__descr-tr
						td.table__descr-td Связь 3G
						td.table__descr-td Есть
					tr.table__descr-tr
						td.table__descr-td 4G (LTE)
						td.table__descr-td Нет
					tr.table__descr-tr
						td.table__descr-td GPS-модуль
						td.table__descr-td A-GPS
				.rating
					ul.stars.stars__horizon2
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item
						li.stars__descr 4
			h3.phone__price.phone__price_horiz.phone__price_horizon2 3 290 &#8381;
			p.buy__phone.buy__phone_horiz.buy__phone_horizon2 В наличии
			a(href="#").buy__link.buy__link_horiz.buy__link_horizon2 В корзину
		li.phone__item.phone__item_horiz.phone__item_horizon2.clearfix
			.phone-img
				a(href="#").phone__link.phone__link_horizon2
					img(src="img/fly.png" alt="fly").phone__img
				ul.slid_show_list
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/fly-fr.png", alt="fly-fr")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/fly-sd.png", alt="fly-sd")
					li.slid_show__item
						a(href="#").slid_show__link
							img(src="img/fly-bk.png", alt="fly-bk")
			.phone-decription
				p.artukyl.artukyl_horizon2 Артикул
					span.art__number 189238
				h2.phone__name.phone__name_horiz.phone__name_horizon2
					span.horizon2__span Смартфон
					|Fly IQ434 Era Nano 5
				p.phone__dec_horizon2 Смартфон Fly IQ434 Era Nano 5 оснащен 3.5" дисплеем и двумя слотами для SIM-карт. Android 2.3, Micro SD, Wi-Fi....
				table.table__descr
					tr.table__descr-tr
						td.table__descr-td Тип SIM-карты
						td.table__descr-td Micro-SIM
					tr.table__descr-tr
						td.table__descr-td Количество SIM-карт 
						td.table__descr-td 2
					tr.table__descr-tr
						td.table__descr-td Цвет
						td.table__descr-td Черный
					tr.table__descr-tr
						td.table__descr-td ОC
						td.table__descr-td Android
					tr.table__descr-tr
						td.table__descr-td Связь 3G
						td.table__descr-td Нет
					tr.table__descr-tr
						td.table__descr-td 4G (LTE)
						td.table__descr-td Нет
					tr.table__descr-tr
						td.table__descr-td GPS-модуль
						td.table__descr-td Нет
				.rating
					ul.stars.stars__horizon2
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item.stars__item_full
						li.stars__item
						li.stars__descr 4
			h3.phone__price.phone__price_horiz.phone__price_horizon2 1 790 &#8381;
			p.buy__phone.buy__phone_horiz.buy__phone_horizon2 В наличии
			a(href="#").buy__link.buy__link_horiz.buy__link_horizon2 В корзину
	+nav('var',['<','1','2','3','>'],1)