include _common/_mixins

doctype html
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
html(lang="ru-RU")
	head
		meta(charset="UTF-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="description" content="cooltech,Gnativ Viktor,Гнатів Віктор")
		meta(name="keywords" content="cooltech,Gnativ Viktor,Гнатів Віктор")
		meta(name="author" content="Gnativ Viktor,Гнатів Віктор")
		link(rel="stylesheet" type='text/css' href="css/main.css")
		link(rel="stylesheet" href="fonts/stylesheet.css")
		title
			block title
	body
		//[if lt IE 9]<p class="browsehappy">Ваш браузер <strong>устарел</strong>. Пожалуйста<a href="http://browsehappy.com/">обновите</a> его.</p>
		.wrapper
				include _common/_header
				include _common/_nav
				.content-wrapper
					.container
						.content.clearfix
								block content
		include _common/_footer
		script(src="bower/jquery/dist/jquery.js")
		//- script(src="bower/Columnizer-jQuery-Plugin-1.6.0/src/jquery.columnizer.js")
		script(src="http://code.jquery.com/jquery-1.10.2.js")
		script(src="http://code.jquery.com/ui/1.11.4/jquery-ui.js")
		script(src="js/main.js")