.info_decrib {
	font-size: 20px;
	font-weight: 900;
	margin: 0;
	margin-bottom: 30px;
}

.aside_page {
	margin-bottom: 30px;
	float: left;
	width: 332px;
}

.section_page {
	float: right;
	width: 744px;
}

.section_bar {
	background: #e4ebee;
	border: 1px solid #dee1e4;
	border-radius: 3px;
	margin-bottom: 20px;
}

.bar_form {
	display: inline-block;
	margin-left: 20px;
	padding-top: 11px;
}

.bar__lable {
	position: relative;
	color: #5d656c;
}

.bar__select {
	margin-left: 5px;
	width: 140px;
	box-sizing: border-box;
	padding: 0 5px 5px 10px;
	-webkit-appearance: none;
	border: none;
	border-top: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	box-shadow: 0px 1px 0 2px rgba(255, 255, 255, 0.3);
}

.bar__lable:after {
	content: '';
	position: absolute;
	right: 3px;
	top: 8px;
	@include get-sprite($socials-map,selec_chek);
}

.bar_list {
	float: right;
	display: inline-block;
}

.bar__item {
	margin-right: -1px;
	display: inline-block;
	padding: 20px 16px 15px;
	border-left: 1px solid #dee1e4;
	&:first-child {
		vertical-align: top;
		padding: 15px 12px 0 0;
		border: none;
	}
	&:last-child {
		padding: 20px 17px 15px;
	}
}

.bar__link {
	display: block;
	text-indent: -9999px;
	width: 18px;
	height: 18px;
}

.bar__link_ls1 {
	@include get-sprite($socials-map,bar_list);
		width: 18px;
	height: 18px;
	&:hover {
		@include get-sprite($socials-map,bar_list_hover);
	}
}
.bar__link_ls2 {
	@include get-sprite($socials-map,bar_list2);
		width: 18px;
	height: 18px;
	&:hover {
		@include get-sprite($socials-map,bar_list2_hover);
	}
}
.bar__link_ls3 {
	@include get-sprite($socials-map,bar_list3);
		width: 18px;
	height: 18px;
	&:hover {
		@include get-sprite($socials-map,bar_list3_hover);
	}
}
.bar__link {
	background-position-x: 1px;
}



// =================view thumbnail ================


.phone_list {
	margin-bottom: 65px;
}
.phone__item {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 235px;
	margin-left: 15px;
	margin-bottom: 18px;
	box-sizing: border-box;
	padding: 20px 10px 27px;
	background: #fbfbfb;
	border: 1px solid #dee1e4;
	border-radius: 8px;
	&:nth-child(3n+1){
		margin-left: 0;
	}
	&:nth-child(n+6){
		margin-bottom: 0;
	}
}

.phone__item:hover {
	box-shadow: 0 1px 10px rgba(0,0,0,.3);
}

.phone__link {
	height: 135px;
	box-sizing: border-box;
	display: block;
	margin: 0 38px;
	padding: 5px 20px;
	background: #fff;
	border: 1px solid #dee1e4;
	border-radius: 3px;
	margin-bottom: 15px;
	img {
		width: 100%;
		height: 100%;
	}
}

.slid_show_list {
	margin-bottom: 15px;
}

.slid_show__item {
	display: inline-block;
	margin-left: 15px;
	vertical-align: top;
	&:first-child {
		margin-left: 0;
	}
	width: 33px;
	height: 33px;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #dee1e4;
	img {
		height: 29px;
	}
	&:hover {
		border-color: #ff6600;
	}
}

.slid_show__item.active {
	border-color: #ff6600;
}

.slid_show__link {
	display: block;
	padding-top: 1px;
}

.phone__name {
	display: inline-block;
	font-size: 14px;
	padding-bottom: 21px;
	margin: 0;
	line-height: 20px;
	font-weight: 600;
	color: #333;
}

.phone__item:first-child .phone__name{
	width: 150px;
	padding-bottom: 0;
}

.phone__dec {
	position: relative;
	font-size: 14px;
	line-height: 20px;
	color: #333;
	padding: 0 2px;
	background: #e6e6e6;
	&:nth-child(2n){
		background: #fbfbfb;
	}
	text-align: left;
}

.phone__span {
	position: absolute;
	right: 0;
	top: 2px;
}

.rating {
	margin-top: 7px;
}

.stars__link {
	vertical-align: middle;
}

.stars__descr {
	display: inline;
	padding: 0 11px;
	margin-left: 7px;
	line-height: 0;
	font-size: 12px;
	background: #b5beca;
	color: #fff;
	border-radius: 15px;
}

.rating__price {
	font-size: 20px;
	font-weight: 900;
	margin: 8px 0 13px;
}

.buy__phone {
	position: relative;
	display: block;
	padding-left: 25px;
	font-size: 12px;
	line-height: 16px;
	color: #7f7f7f;
	font-weight: 900;
}


.buy__link {

	margin:0 18px;
	padding: 6px 16px 8px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 900;
	color: #fff;
	background: -webkit-gradient(linear, left top, right top, from(#ff6600), to(#ff6e35));
	background: -webkit-linear-gradient(left, #ff6600, #ff6e35);
	background: -moz-linear-gradient(left, #ff6600, #ff6e35);
	background: -ms-linear-gradient(left, #ff6600, #ff6e35);
	background: -o-linear-gradient(left, #ff6600, #ff6e35);
}

.buy__phone:before {
		content: '';
		position: absolute;
		left: 10px;
		top: 5px;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: #60ac49;
}

.artukyl {
	display: none;
}
.phone__dec_horizon2 {
	display: none;
}

// ================= view list ================
// .phone__item_horiz {
// 	display: block;
// 	width: 100%;
// 	text-align: left;
// 	padding: 14px 12px 14px;
// 	border-top: none;
// 	margin-bottom: 0;
// 	margin-left: 0;
// 	border-radius: 0;
// 	&:first-child {
// 		border-top: 1px solid #dee1e4;
// 		border-radius: 5px 5px 0 0;
// 	}
// 	&:last-child {
// 		border-radius: 0 0 5px 5px;
// 	}
// }

// .phone__item_horiz:first-child .phone__name {
// 	width: 290px;
// }

// .phone__link,
// .slid_show_list,
// .stars,
// .phone__dec {
// 	display: none;
// }

// .artukyl {
// 	display: inline-block;
// 	vertical-align: middle;
// 	color: #7f7f7f;
// 	font-size: 12px;
// 	width: 100px;
// 	overflow: hidden;
// 	white-space: nowrap;
// }
// .art__number {
// 	color: #333;
// 	font-size: 14px;
// 	margin-left: 3px;
// }

// .phone__name_horiz {
// 	display: inline-block;
// 	vertical-align: middle;
// 	margin-left: 9px;
// 	width: 290px;
// 	padding-bottom: 0;
// 	overflow: hidden;
// 	white-space: nowrap;
// }

// .phone__name_horiz:before {
// 	content: 'Smart';
// 	margin-right: 5px;
// 	float: left;
// }

// .rating {
// 	display: inline;
// }
// .rating__price_horiz {
// 	display: inline-block;
// 	width: 90px;
// 	vertical-align: middle;
// 	overflow: hidden;
// 	white-space: nowrap;
// 	margin: 0;
// }

// .buy__phone_horiz {
// 	float: right;
// 	.buy__link {
// 		margin: 0;
// 		margin-left: 25px;
// 	}
// }

// ================= view list 2 ================

// .phone__item_horizon2 {
// 	display: block;
// 	width: 100%;
// 	height: 246px;
// 	text-align: left;
// 	padding: 14px 12px 14px;
// 	position: relative;
// 	border-top: none;
// 	margin-bottom: 0;
// 	margin-left: 0;
// 	border-radius: 0;
// 	.slid_show_list {
// 		position: absolute;
// 		bottom: 28px;
// 		left: 22px;
// 	}
// 	&:first-child {
// 		border-top: 1px solid #dee1e4;
// 		border-radius: 5px 5px 0 0;
// 	}
// 	&:last-child {
// 		border-radius: 0 0 5px 5px;
// 	}
// }

// .phone__name_horizon2 {
// 	font-size: 18px;
// 	font-weight: 900;
// 	margin: 8px 0 21px 0;
// }

// .phone__item_horizon2:first-child .phone__name {
// 	width: 290px;
// }
// .phone__name_horiz {
// 	width: 370px;
// 	display: inline-block
// }

// .phone__link_horizon2 {
// 	width: 135px;
// 	float: left;
// 	margin: 4px 25px 90px 10px;
// }

// .phone__dec{
// 	display: none;
// }

// .phone__dec_horizon2 {
// 	display: inline-block;
// 	width: 370px;
// 	margin-bottom: 7px;
// }
// .artukyl_horizon2{
// 	display: block;
// 	position: absolute;
// 	bottom: 14px;
// 	left: 34px;
// }
// .rating__price_horizon2 {
// 	position: absolute;
// 	right: 25px;
// 	top: 15px;
// }

// .buy__phone_horizon2 {
// 	position: absolute;
// 	bottom: -12px;
// 	right: -46px;
// 	float: right;
// 	.buy__link {
// 		position: relative;
// 		display: inherit;
// 		right: 53px;
// 		bottom: 55px;
// 	}
// }


//================ end ====================

.var_list {
	display: block;
	float: right;
	margin-bottom: 20px;
}

.var__item {
	display: inline-block;
	box-shadow: 0 2px 3px rgba(0,0,0,.3);
}

.var__link {
	padding: 3px 9px;
	border-radius: 3px;
	border: 1px solid #aeaeae;
	background: #fbfbfb;
	color: #7f7f7f;
	font-size: 12px;
	&:hover {
		background: #e0e0e0;
	}
}

.var__item_active .var__link {
	background: #e0e0e0;
}

// текст
.info__desc {
	margin: 13px 0 21px;
	font-size: 20px;
}

.info__text_wrap {
	float: left;
	width: 530px;
	margin-bottom: 9px;
}

.info__text_other_wrap {
	float: right;
	width: 540px;
}

.info__text {
	display: block;
	text-align: justify;
	margin-bottom: 20px;
	font-size: 14px;
	color: #333;
	line-height: 20px;
	text-indent: 35px;
}