.info_decrib {
	font-size: 20px;
	font-weight: 900;
	margin: 0;
	margin-bottom: 30px;
}

.aside_page {
	margin-bottom: 30px;
	float: left;
	width: 332px;
}

.section_page {
	float: right;
	width: 744px;
}

.section_bar {
	background: #e4ebee;
	border: 1px solid #dee1e4;
	border-radius: 5px;
	margin-bottom: 19px;
}

.bar_form {
	display: inline-block;
	margin-left: 20px;
	padding-top: 14px;
}

.bar__label {
	position: relative;
	color: #5d656c;
}


.bar__select {
	margin-left: 5px;
	width: 140px;
	color: #7f7f7f;
	box-sizing: border-box;
	padding: 0 5px 5px 10px;
	-webkit-appearance: none;
	border: none;
	border-top: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	box-shadow: 0px 1px 0 1px rgba(255, 255, 255, 0.3);
}
.select2-search__field,
.select2-selection__arrow b {
	display: none;
}

.select2-container .select2-selection__arrow:after {
	content: '';
	position: absolute;
	right: 3px;
	top: 8px;
	@include get-sprite($socials-map,selec_chek);
}

.select2-container--open .select2-selection__arrow:after{
	content: '';
	position: absolute;
	right: 3px;
	top: 8px;
	@include get-sprite($socials-map,selec_cheked);
	}

.bar_list {
	float: right;
}

.bar__item {
	margin-right: -1px;
	display: inline-block;
	padding: 20px 15px 15px;
	border-left: 1px solid #dee1e4;
	&:first-child {
		vertical-align: top;
		padding: 17px 14px 0 0;
		border: none;
	}
	&:last-child {
		padding: 20px 17px 15px;
	}
}

.bar__link {
	display: block;
	text-indent: -9999px;
	width: 18px;
	height: 18px;

}

.bar__link_ls1 {
	@include get-sprite($socials-map,bar_list);
		width: 18px;
	height: 18px;
	&:hover {
		@include get-sprite($socials-map,bar_list_hover);
	}
}
.bar__link_ls1.active{
		@include get-sprite($socials-map,bar_list_hover);
}


.bar__link_ls2 {
	@include get-sprite($socials-map,bar_list2);
		width: 18px;
	height: 18px;
	&:hover {
		@include get-sprite($socials-map,bar_list2_hover);
	}
}
.bar__link_ls2.active {
		@include get-sprite($socials-map,bar_list2_hover);
}

.bar__link_ls3 {
	@include get-sprite($socials-map,bar_list3);
		width: 18px;
	height: 18px;
	&:hover {
		@include get-sprite($socials-map,bar_list3_hover);
	}
}
.bar__link_ls3.active{
		@include get-sprite($socials-map,bar_list3_hover);
	}


.bar__link {
	background-position-x: 1px;
}

.horizon2__span {
	display: none;
}


// =================view thumbnail ================


.phone_list {
	margin-bottom: 68px;
}
.phone__item {
	vertical-align: top;
	display: inline-block;
	text-align: center;
	width: 235px;
	margin-left: 15px;
	margin-bottom: 18px;
	box-sizing: border-box;
	padding: 20px 10px 18px;
	background: #fbfbfb;
	border: 1px solid #dee1e4;
	border-radius: 8px;
	&:nth-child(3n+1){
		margin-left: 0;
	}
	&:nth-child(n+6){
		margin-bottom: 0;
	}
}

.phone__item:hover {
	box-shadow: 0 1px 10px rgba(0,0,0,.3);
}

.phone__link {
	height: 135px;
	width: 135px;
	margin: 0 auto;
	box-sizing: border-box;
	display: block;
	position: relative;
	background: #fff;
	overflow: hidden;
	border: 1px solid #dee1e4;
	border-radius: 3px;
	margin-bottom: 15px;
	img {
		max-width: 100%;
		max-height: 100%;
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		margin: auto;
	}
}

.slid_show__item {
	display: inline-block;
	margin-left: 15px;
	vertical-align: top;
	&:first-child {
		margin-left: 0px;
	}
	width: 33px;
	height: 33px;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid #dee1e4;
	img {
		height: 29px;
	}
	&:hover {
		border-color: #ff6600;
	}
}

.slid_show__item.active {
	border-color: #ff6600;
}

.phone-img {
	margin-bottom: 13px;
}

.slid_show__link {
	display: block;
	padding-top: 1px;
	text-align: center;
}

.phone-decription {
	display: inline-block;
	width: 100%;
}
.phone__item:first-child .phone__name {
	width: 150px;
	padding-bottom: 2px;
}
.phone__name {
	display: inline-block;
	font-size: 14px;
	padding-bottom: 22px;
	margin: 0;
	line-height: 20px;
	font-weight: 600;
	color: #333;
}

.table__descr {
	width: 100%;
	display: block;
	margin-bottom: 7px;
}

.table__descr-tr {
	font-size: 13px;
	line-height: 20px;
	color: #333;
}

.table__descr-td{
	box-sizing: border-box;
	text-align: left;
	padding-left: 2px;
	width: 140px;
	&:last-child{
		width: 73px;
		text-align: right;
		padding-right: 2px;
		padding-left: 0;
	}
}

.table__descr .table__descr-tr:nth-child(2n-1) {
	background: #e4e2e2;
}

.stars__item {
	display: inline-block;
	width: 15px;
	height: 15px;
	@include get-sprite($socials-map,star_white);
}
.stars__item_full {
	@include get-sprite($socials-map,star_red);
}

.stars__descr {
	display: inline;
	padding: 0 11px;
	margin-left: 9px;
	line-height: 0;
	font-size: 11px;
	background: #b5beca;
	color: #fff;
	border-radius: 15px;
}

.phone-order {
	display: inline-block;
}

.phone__price {
	font-size: 20px;
	font-weight: 900;
	margin: 7px 8px 6px 0;
}

.buy__phone {
	position: relative;
	display: inline-block;
	text-align: left;
	margin: 0 20px 0 0;
	padding-left: 20px;
	font-size: 12px;
	line-height: 16px;
	color: #7f7f7f;
	font-weight: 900;
	overflow: hidden;
}


.buy__link {
	display: inline-block;
	padding: 6px 16px 8px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 900;
	color: #fff;
	background: -webkit-gradient(linear, left top, right top, from(#ff6600), to(#ff6e35));
	background: -webkit-linear-gradient(left, #ff6600, #ff6e35);
	background: -moz-linear-gradient(left, #ff6600, #ff6e35);
	background: -ms-linear-gradient(left, #ff6600, #ff6e35);
	background: -o-linear-gradient(left, #ff6600, #ff6e35);
}

.buy__phone:before {
		content: '';
		position: absolute;
		left: 6px;
		top: 3px;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		background: #60ac49;
}

.artukyl {
	display: none;
}
.phone__dec_horizon2 {
	display: none;
}
.horizon2__span {
	display: none;
}


// ================= view list ================
.horizon .phone__item_horiz {
	position: relative;
	display: block;
	width: 100%;
	text-align: left;
	padding: 16px 12px 7px;
	border-top: none;
	margin-bottom: 0;
	margin-left: 0;
	border-radius: 0;
	&:first-child {
		border-top: 1px solid #dee1e4;
		border-radius: 5px 5px 0 0;
	}
	&:last-child {
		border-radius: 0 0 5px 5px;
	}
	&:hover {
		z-index: 1;
	}
}

.horizon .phone__item_horiz:first-child .phone__name {
	width: 290px;
}

.horizon .phone__link,
.horizon .slid_show_list,
.horizon .stars,
.horizon .table__descr {
	display: none;
}
.horizon .phone-decription {
	width: auto;
}
.horizon .phone-img {
	margin-bottom: 0;
}
.horizon .artukyl {
	display: inline-block;
	vertical-align: middle;
	color: #7f7f7f;
	font-size: 12px;
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
}
.horizon .art__number {
	color: #333;
	font-size: 14px;
	margin-left: 3px;
}

.horizon .phone__name_horiz {
	display: inline-block;
	vertical-align: middle;
	margin-left: 9px;
	width: 290px;
	padding-bottom: 0;
	overflow: hidden;
	white-space: nowrap;
}

.horizon .rating {
	position: absolute;
	top: 12px;
	right: 246px;
	text-align: right;
	margin: 0;
}
.horizon .phone__price_horiz {
	display: inline-block;
	font-size: 18px;
	width: 80px;
	height: 20px;
	vertical-align: top;
	text-align: right;
	margin: -3px 0 0 0;
}

.horizon .buy__phone_horiz {
	display: inline-block;
	vertical-align: top;
	width: 67px;
	height: 20px;
	margin: 4px 0 0 14px;
}

.horizon .buy__link_horiz {
	display: inline-block;
	width: 72px;
	height: 20px;
	vertical-align: top;
	margin: -7px 0 0 22px;
	overflow: hidden;
}

.horizon .horizon2__span {
	display: inline-block;
	margin-right: 3px;
}

// ================= view list 2 ================
.vertical .phone-img {
	float: left;
	margin-left: 10px;
	margin-bottom: 0;
}

.vertical .phone__item_horizon2 {
	display: block;
	width: 100%;
	text-align: left;
	padding: 14px 12px 14px;
	position: relative;
	border-top: none;
	margin-bottom: 0;
	margin-left: 0;
	border-radius: 0;
	.slid_show_list {
		margin-bottom: 29px;
	}
	&:first-child {
		border-top: 1px solid #dee1e4;
		border-radius: 5px 5px 0 0;
	}
	&:last-child {
		border-radius: 0 0 5px 5px;
	}
	&:hover {
		z-index: 1;
	}
}

.vertical .phone__item_horizon2:first-child .phone__name_horizon2 {
	width: 400px;
}
.vertical .phone__item_horizon2:first-child .phone-img {
	margin-left: 5px;
}

.vertical .phone-decription:before {
	content: '';
	width: 1px;
	height: 85%;
	position: absolute;
	top: 18px;
	right: 153px;
	background: #dee1e4;
}

.vertical .phone-decription {
	width: 400px;
	display: inline-block;
	margin-left: 25px;
}
.vertical .phone__name_horizon2 {
	width: 400px;
	font-size: 18px;
	font-weight: 900;
	margin: 10px 0 21px 0;
	padding-bottom: 0;
}
.vertical .phone__name_horizon2:first-child {
	width: 400px;
}
.vertical .phone__link_horizon2 {
	width: 135px;
	margin: 5px 0 15px;
}

.vertical .table__descr{
	display: none;
}
.vertical .phone__dec-list {
	margin-bottom: 14px;
}

.vertical .phone__dec_horizon2 {
	width: 400px;
	display: inline-block;
	margin-bottom: 13px;
}

.vertical .artukyl_horizon2{
	display: block;
	position: absolute;
	bottom: 14px;
	left: 34px;
}
.vertical .phone__price_horizon2 {
	position: absolute;
	top: 19px;
	right: 20px;
	width: 81px;
}

.vertical .buy__phone_horizon2 {
	position: absolute;
	bottom: 18px;
	padding-left: 20px;
	right: 10px;
	width: 65px;
	height: 15px;
	overflow: hidden;
}
.vertical .rating {
	display: inline-block;
	margin: 0;
}
.vertical .buy__link_horizon2 {
	position: absolute;
	right: 25px;
	bottom: 40px;
	width: 72px;
	height: 20px;
	overflow: hidden;
}
//================ end ====================

.var__list {
	display: block;
	float: right;
	margin-bottom: 20px;
}

.var__item {
	display: inline-block;
	box-shadow: 0 2px 3px rgba(0,0,0,.3);
}

.var__link {
	padding: 3px 9px;
	border-radius: 3px;
	border: 1px solid #aeaeae;
	background: #fbfbfb;
	color: #7f7f7f;
	font-size: 12px;
	&:hover {
		background: #e0e0e0;
	}
}

.var__item_active .var__link {
	background: #e0e0e0;
}

// текст
.info__desc {
	margin: 13px 0 21px;
	font-size: 20px;
}

.info__text_wrap {
	float: left;
	width: 530px;
	margin-bottom: 9px;
}

.info__text_other_wrap {
	float: right;
	width: 530px;
}

.info__text {
	display: block;
	text-align: justify;
	margin-bottom: 20px;
	font-size: 14px;
	color: #333;
	line-height: 20px;
	text-indent: 35px;
}