.sidebar-nav {
	margin-bottom: 32px;
}


.accordeon__item,
.sidebar-nav__item {
	border: 1px solid #dee1e4;
	border-top: none;
	background: #fbfbfb;
	&:first-child{
		border-top: 1px solid #dee1e4;
		border-radius: 5px 5px 0 0;
	}
	&:last-child{
		border-radius: 0 0 5px 5px;
	}
}

.accordeon__trigger,
.sidebar-nav__link {
	display: block;
	position: relative;
	padding: 12px 5px 15px 27px;
	font-size: 16px;
	font-weight: 900;
	color: #333;
	&:hover {
		background: #d9e5ea;
	}
}

.accordeon__item:hover .accordeon__trigger:after {
	content: '';
	position: absolute;
	right: 10px;
	top: 20px;
	@include get-sprite(sprite-map('icons/*.png', $spacing: 70px),accordeon_chek);
}
.accordeon__item.active .accordeon__trigger:after {
	@include get-sprite(sprite-map('icons/*.png', $spacing: 70px),accordeon_cheked);
}

.sidebar-nav__item.active .sidebar-nav__link {
	background: #d9e5ea;
}
.accordeon__item.active:hover .accordeon__trigger {
	background: #fbfbfb;
}

.inner__list {
	display: block;
	padding: 0 20px;
}

.inner__list{
	display: none;
}

.inner__item {
	margin-bottom: 17px;
	margin-left: 10px;
}

.inner__labe {
	font-size: 14px;
	color: #333;
	font-weight: 300;
}

.inner__labe input {
}

input[type="reset"] {
	display: block;
	border: none;
	text-decoration: underline;
	background: #fbfbfb;
	color: #5db2fc;
	font-size: 14px;
	margin: -7px 0 18px 4px;

}

input[type="checkbox"],
input[type="radio"]{
	display: none;
}

input[type="checkbox"]+ label:before,
input[type="radio"] + label:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 20px;
	width: 20px;
	margin: 0 8px 0 0;
	background: url(../img/box_sprite.png) no-repeat;
}

input[type="checkbox"]+ label:before {
	background-position: -20px 0;
}
input[type="checkbox"]:checked + label:before {
	background-position: -20px -20px;
}

input[type="radio"] + label:before  {
	background-position: 0 0;
}

input[type="radio"]:checked + label:before  {
	background-position: 0 -20px;
}

.inner__item input[type="text"] {
	width: 80px;
	box-sizing: border-box;
	margin: 3px 45px 18px 11px;
	padding: 5px 5px;
	border: 1px solid #ebedef;
	border-radius: 5px;
	box-shadow: 0 -1px 1px rgba(0,0,0,.2);
}

#amount1 {
	margin-right: 0;
}

// ползунок

.ui-slider {
	margin-left: 3px;
	margin-bottom: 30px;
	position: relative;
	text-align: left;
}
.ui-slider .ui-slider-handle {
	position: absolute;
	z-index: 2;
	width: 15px;
	height: 15px;
	cursor: pointer;
	-ms-touch-action: none;
	touch-action: none;
}
.ui-slider .ui-slider-range {
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;
	background-position: 0 0;
}

/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
	filter: inherit;
}


.ui-slider-horizontal {
	height: 5px;
}
.ui-slider-horizontal .ui-slider-handle {
	top: 100%;
	margin-left: -3px;
}
.ui-slider-horizontal .ui-slider-range {
	top: 0;
	height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
	left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
	right: 0;
}

.ui-slider-vertical {
	width: 8px;
	height: 100px;
}

.ui-widget-content {
	background: #dee1e4;
}
.ui-widget-header {
	background: #ff6600;
	font-weight: bold;
}

/* Interaction states
----------------------------------*/
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
	margin-top: 5px;
	width: 8px;
	height: 8px;
	margin-left: -4px;
	background: #333;
	outline: none;
}

#slider-range span:before {
	content: '';
	position: relative;
	top: -27px;
	border-bottom: 8px solid #333;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	margin-left: 0;
}
.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
	color: #555555;
	text-decoration: none;
}
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	color: #212121;
	font-weight: normal;
}

.inner_list_color {
	width: 220px;
	margin-left: 10px;
	margin-top: 2px
}

.inner_item_color {
	border: 1px solid #dee1e4;
	display: inline-block;
	margin-left: 18px;
	margin-bottom: 22px;
	&:nth-child(4n+1) {
		margin-left: 0;
	}
}

.inner_item_color:hover .color__link {
	box-shadow: 0 0 3px 2px #ff6600;
}

.color__link {
	width: 35px;
	height: 35px;
	display: block;
	text-indent: -9999px;

}

.color__link_white {
	background: #fff;
}
.color__link_grey {
	background: #ccc;
}
.color__link_black {
	background: #000;
}
.color__link_blue {
	background: #0a3153;
}
.color__link_red {
	background: #ff1800;
}
.color__link_yellow {
	background: #fff343;
}
.color__link_orange {
	background: #fb914a;
}
.color__link_green {
	background: #92c37c;
}
.color__link_babyblue {
	background: #40a6ff;
}
.color__link_pink {
	background: #9870ad;
}
.color__link_light-pink {
	background: #dc78ad;
}
.color__link_brown {
	background: #7f401d;
}