extends ../main

block title
	| Мобильные телефоны

block content
	.wrap_content.clearfix
		h2.info_decrib Мобильные телефоны
		aside.aside_page
			include ../_common/_sidebar
		section.section_page
			.section_bar.clearfix
				form.bar_form
					lable.bar__lable Сортировать по
						select.bar__select
							option(value="по цене").bar__option по цене
							option(value="по цене").bar__option по популярности
				ul.bar_list
					li.bar__item Вид каталога
					li.bar__item
						a(href="#").bar__link.bar__link_ls1 list1
					li.bar__item
						a(href="#").bar__link.bar__link_ls2.active list2
					li.bar__item
						a(href="#").bar__link.bar__link_ls3 list3
			include ../_common/_variable-sec
	.wrap_info
		.conteinter
			section.info_page.clearfix
				h2.info__desc Важная информация 
				.info_wrapp.clearfix
					.info__text_wrap
						p.info__text Повседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Таким образом консультация с широким активом представляет собой интересный эксперимент.
						p.info__text Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким образом 	сложившаяся структура организации требуют определения и уточнения направлений прогрессивного развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.

						p.info__text Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации. С другой стороны сложившаяся структура организации позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.
					.info__text_other_wrap
						p.info__text Повседневная практика показывает, что сложившаяся структура организации влечет за собой процесс внедрения и модернизации позиций, занимаемых участниками в отношении поставленных задач. Значимость этих проблем настолько очевидна, что реализация намеченных плановых заданий в значительной степени обуславливает создание модели развития. Таким образом консультация с широким активом представляет собой интересный эксперимент.
						p.info__text Идейные соображения высшего порядка, а также рамки и место обучения кадров позволяет оценить значение позиций, занимаемых участниками в отношении поставленных задач. Таким образом 	сложившаяся структура организации требуют определения и уточнения направлений прогрессивного развития. Равным образом консультация с широким активом влечет за собой процесс внедрения и модернизации соответствующий условий активизации.

						p.info__text Идейные соображения высшего порядка, а также начало повседневной работы по формированию позиции позволяет оценить значение соответствующий условий активизации. С другой стороны сложившаяся структура организации позволяет оценить значение системы обучения кадров, соответствует насущным потребностям.