extends ../main

block title
	| Мобильные телефоны

block content
	h2.info_decrib Мобильные телефоны
	aside.aside_page
		include ../_common/_sidebar
	section.section_page
		include ../_common/_variable-sec